{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
    {% block viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static "css/nifty.min.css" %}">
    <style>
        #container {
            opacity: 1 !important;
            visibility: visible !important;

        }

        .navbar-brand {
            height: 61px !important;
            width: 300px !important;
        }
    </style>
    {% endblock %}

    {% block extra_head_base %}
    {% block extra_head %}
    {% endblock %}
    {% endblock %}
</head>
<body>

    {% block topbar_base %}
    <div id="container" class="effect mainnav-lg">

        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--================================-->
                <div>
                    <a href="/" class="navbar-brand">
                        <!--<img src="img/nucside.png" alt="VATT Logo" class="brand-icon">-->
                        <div class="brand-title">
                        <img src="{% static "images/trivinsta250.png" %}">
                            <span class="brand-text l-art">VATT Project</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->


                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">

 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Topics</a></li>
            <li><a href="/">Explore</a></li>
            <li><a href="/quiz/">Quiz</a></li>

      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" id="searchword" name="searchword" placeholder="Search..">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/create/">Create</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="account/settings/">Settings</a></li>
         
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
            </div>
            <!--================================-->
            <!--End Navbar Dropdown-->

        </div>
    </header>
    {% endblock %}

    {% block body_base %}
    <div class="container">

        {% include "_messages.html" %}
        {% block body %}
        {% endblock %}

    </div>

    {% endblock %}
</div>
{% block footer_base %}
<hr />
<footer>
    <div class="container">
        {% block footer %}{% endblock %}
    </div>
</footer>
{% endblock %}


{% block theme_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/eldarion-ajax/0.12.0/eldarion-ajax.min.js"></script>


{% endblock %}

{% block scripts %}{% endblock %}


{% block extra_body_base %}
{% block extra_body %}{% endblock %}
{% endblock %}
</body>
</html>
