{% extends "site_base.html" %}
{% load staticfiles %}
{% block head_title %}Vatt Explore{% endblock %}


{% block extra_head_base %}
 <link rel="stylesheet" type="text/css" href="{% static "css/create.css" %}"/>
<style>

  .dv-loading {
    margin-top: 60px;
  }
  div#sidebar {
    height: 100%;
  }
  .wbspan {
    background: #333;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 30px;
    opacity: 0.8;
    color: #fff;
    padding: 6px;
    z-index: 9;
  }
  .wbspan span {
    display: block;
  }

  .wbscroll {
    background: #333;
    height: 100%;
    width: 30px;
    position: fixed;
    bottom: 0px;
    right: 0;
    opacity: 0.8;
    color: #fff;
    padding: 6px;
    z-index: 9;
  }

  span.scrollside {
    -ms-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    display: block;
    top: 48%;
    position: absolute;
    right: 0px;
  }

  .navbar-minimal > .navbar-menu > li {
    margin: 0px 0px 0px 11px;
    height: 32px;
  }

  .navbar-minimal > .navbar-menu > li:hover, .navbar-minimal > .navbar-menu > li.active {
    background-color: #333;
    padding: 7px 24px 10px 12px;
    margin: -7px 24px 7px -1px;
    z-index: 0;
  }


  .scrolliu {
    padding: 4px;
  }
  .scrollid {
    position: absolute;
    bottom: 39px;
    right: 12px;
  }

  i.fa.fa-caret-left.pull-left {
    left: 10px;
    margin-left: 35px;
    margin-top: 1px;
  }

  .navbar-menu.animate, .wtop-menu {
    display: none;
  }

  a#material-icon {
    bottom: 0;
    position: absolute;
    right: 15px;
  }

  #wbtool-icon {
   width: 40px;
   height: 40px;
   position: fixed;
   bottom:25px;
   left:20px;
   text-align: center;
   padding: 6px;
   font-size: 18px;
   line-height: 1.6;
   border-radius: 30px;
   -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
   -moz-box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
   box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
   z-index: 92;
 }


 .t-pdf-menu {
  z-index: 91;
}
div#navcontainer {
  opacity: 0.8;
  position: fixed;
  bottom: 75px;
  left: 43px;
  top: auto;
}
.navbar-minimal {
  min-height: 0;
  max-height: 100%;
  background-color: #444;
  border-width: 0px;
  z-index: 10;
  width: 36px;
  margin: 0 0 -8px 14px;
  padding: 0;
} 

#canvas-container {
 width: 100%;
 text-align:center;
}

canvas {
 display: inline;
}

div#material-show {
  bottom: 25px;
}

ul.navbar-menu.animate {
  max-height: 310px;
  min-height: 310px;
  border-radius: 3px;
}

.navlist li {
  margin-left: -3px;
  border-radius: 0 3px 3px 0px;
  margin: -4px;
  padding: 10px;
}

.navbar-minimal>.navbar-menu {
  position: fixed;
  top: auto;
  left: 21px;
  bottom: 53px;
}

.pdf-menu {
  left: 48px;
  position: fixed;
}

#sidebar {
  top: 0px;
  min-width: 285px;
}
iframe#youtube-embedd, #whiteboard-embedd, .document-viewer-outer {
  margin-top: 0;
}

.document-viewer-outer {
  margin-top: 8px;
}
div#navcontainer {
  position: fixed;
}
div#main, #main-pane {
  margin-top: 0px;
  margin-right: 0px;
}


.canvas-container {
  top: 0px;
}

#mini-materials {
  margin-bottom: -59px;
}

.sp-preview {
  width: 20px;
  height: 20px;
}
.sp-replacer {
 width: 25px;
 height: 25px;
 padding: 1px 0px 0px 3px;
}

.wtop-menu a {
  padding: 7px 6px;
}

</style>
{% endblock %}


{% block body %}

<div id="prestartloader">
  <div class="text-center">
    <i class="fa fa-spinner fa-pulse fa-2x"></i><br>
    <i>Initialising</i>
  </div>
</div>


<div id="main-pane" class="row">

  <div class="col-md-12" id="main">
    <div id="slides">
     <div id="mini-materials" class="navbar">

       <div id="navcontainer">

         <ul class="navlist wtop-menu wdelete">
           <li><a href="#" class="mdelete" ><i class="fa fa-trash"></i> Delete</a></li>
         </ul>
         <!--text-->
         <ul class="navlist wtop-menu wtext">
           <li><a href="#" id="text_heading" class="mtext"><i class="fa fa-header"></i> </a></li>
           <li><a href="#" id="text_normal" class="mtext"><i class="fa fa-text-height"></i> </a></li>
           <li><a href="#" id="text_bold" class="mtext"><i class="fa fa-bold"></i> </a></li>
           <li><a href="#" id="text_italic" class="mtext"><i class="fa fa-italic"></i></a></li>
           <li><a href="#" id="text_underline" class="mtext"><i class="fa fa-underline"></i> </a></li>
           <li><a href="#" id="text_strike" class="mtext"><i class="fa fa-strikethrough"></i></a></li>
           <li><a href="#" class="mdelete" ><i class="fa fa-trash"></i> Delete</a></li>
         </ul>

         <!--pen-->
         <ul class="navlist wtop-menu wdraw">
           <li><a href="#" id="draw_pencil" class="mdraw"><i class="fa fa-pencil"></i> Pencil</a></li>
           <li><a href="#" id="draw_highlight" class="mdraw"><i class="fa fa-pencil-square"></i> Highlighter</a></li>
           <li><a href="#" class="mdelete" ><i class="fa fa-trash"></i> Delete</a></li>
         </ul>

         <!--shapes-->
         <ul class="navlist wtop-menu wshape">
           <li><a href="#" id="arrow" class="mshape"><i class="fa fa-long-arrow-right"></i></a></li>
           <!--<li><a href="#" id="rectangle_fill" class="mshape"><i class="fa fa-square"></i> Solid square</a></li>-->
           <li><a href="#" id="rectangle" class="mshape"><i class="fa fa-square-o"></i></a></li>
           <!--<li><a href="#" id="circle_fill" class="mshape"><i class="fa fa-circle"></i> Solid circle</a></li>-->
           <li><a href="#" id="circle" class="mshape"><i class="fa fa-circle-o"></i></a></li>
           <li><a href="#" class="mdelete" ><i class="fa fa-trash"></i> Delete</a></li>
         </ul>

         <!--zoom-->
         <ul class="navlist wtop-menu zoom">
           <li><a href="#" id="zoomin" class="mzoom"><i class="fa fa-search-plus"></i> Zoom In</a></li>
           <li><a href="#" id="zoomout" class="mzoom"><i class="fa fa-search-minus"></i> Zoom Out</a></li>
         </ul>

              <!--delete all-->
         <ul class="navlist wtop-menu dela">
           <li><a href="#" id="delall" class="mdelall"><i class="fa fa-trash-o"></i> Delete all objects</a>
           </li>
         </ul>
       </div>


     </div>

     <a id="wbtool-icon" class="btn btn-primary btn-circle fa fa-pencil fa-2x navbar-toggler">
     </a>
     <nav class="navbar navbar-minimal animate">
      <ul class="navbar-menu animate">

        <li>
          <span class="hover" data-toggle="tooltip" title="Blank Canvas" data-placement="right">
            <a href="#new" id="blank" class="animate">
              <span class="glyphicon"><i class="fa fa-file-o"></i></span>
            </a>
          </span>
        </li>

      <li>
        <span id="colorPicker" >
          <input type='text' id='colorinner'/>
          <span class="track"></span>
          <input type="hidden" class="colorInput"/>
        </span>
      </li>
      <li id="draw_obj">
        <span class="hover">
          <a href="#" class="animate">
            <span class="glyphicon "><i class="fa fa-pencil"></i> </span>
          </a>
        </span>
      </li>
      <li  id="text_obj">
        <span class="hover">
          <a href="#text" class="animate">  
           <span class="glyphicon" ><i class="fa fa-font"></i> </span>
         </a>
       </span>
     </li>

     <li id="shape">
       <span class="hover" >
         <a href="#" class="animate">
           <span class="glyphicon "><i class="fa fa-cube"></i></span>
         </a>
       </span>
     </li>


     <li  id="move">
       <span class="hover" >
        <a href="#select" class="animate">
          <span class="glyphicon" ><i class="fa fa-arrows"></i> </span>
        </a>
      </span>
    </li>

    <li id="clear" >
      <span class="hover" >
        <a href="#" class="animate">
         <span class="glyphicon" ><i class="fa fa-eraser"></i> </span>
       </a>
     </span>
   </li>

</ul>

</nav>

</div>

<div class="wb-container wb-container-m">
  <div id="document-preview">  
 </div>

 <canvas id="drawCanvas" width="880" height="1144" class="drawCanvas">Canvas is not supported on this browser!</canvas>
</div>

<div id="sidebar" class="scrollable panel col-md-4">

  <div class="scroll-content">
    <div id="size-wrapper" class="clearfix">
      <i id="material-hide" class="fa fa-remove pull-right"></i>
      <h3><i class="fa fa-2x fa-book"></i> Lesson Materials</h3>

      <a href="#" id="btn-upload" class="btn btn-info btn-block btn-embossed btn-lg"><i class="fa fa-upload"></i> Upload Materials</a>
      <input id="filesearch" placeholder="Search" type="text" class="col-md-12 mar-top col-md-12 mar-top input-lg" name="text" />
    </div>
    <br>

    <div id="file-upload"></div>
    <div id="file-list"></div>
  </div>
</div>

</div> 

</div><!--closes class="span8"-->
<div class="wbscroll hidden-lg hidden-md">
  <i class="scrolliu fa fa-caret-up"></i>

  <span class="scrollside">Scroll
  </span>
  <i class="scrollid fa fa-caret-down"></i>
</div>

    <div id="material-show"  data-toggle="tooltip" title="Add File" data-placement="left" class="open-lessons">
      <span class="hover">
        <a href="#documents" id="material-icon" class="btn btn-primary btn-circle fa fa-plus fa-2x">
        </a>
      </span>
    </div>

<div class="wbspan hidden-lg hidden-md"><i class="fa fa-caret-left pull-left"></i>  <i class="fa fa-caret-right pull-right"></i><span class="text-center">Pan</span></div>
</div>


{% endblock %}

{% block scripts %}
   <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/yepnope.js/1.5.4/yepnope.min.js" defer></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.spectrum/1.3.3/spectrum.min.js" defer></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/yepnope.js/1.5.4/yepnope.min.js" defer></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.spectrum/1.3.3/spectrum.min.js" defer></script>
<script type="text/javascript" src="{% static "js/compatibility.min.js" %}" async></script>
<script type="text/javascript" src="{% static "js/pdf.min.js" %}" defer></script>
<script type="text/javascript" src="{% static "js/whiteboard.js" %}" defer></script>
<script type="text/javascript" src="{% static "js/room.js" %}" defer></script>
<script type="text/javascript" src="{% static "js/scripts.js" %}" async></script>


<script type="text/javascript">

  $(window).load(function(){
    $("#prestartloader").hide();
    $("#startloader").hide();
    $('#main-pane').addClass("opacity-in");
    myDocViewer.load("http://localhost:8000/static/pdf/ex1.pdf")
  });

</script>
{% endblock %}