{% extends "site_base.html" %}
{% load staticfiles %}
{% block head_title %}Vatt Explore{% endblock %}


{% block extra_head_base %}
<style>
	.widget-img {
		position: absolute;
		width: 150px;
		height: 150px;
		left: 38%;
		margin-left: -34px;
		top: -110px;
	}

	button.btn.btn-primary {
    height: 40px;
    font-size: 18px;
}

input#searchword {
    height: 42px;
}
</style>
{% endblock %}


{% block body %}

<div class="boxed">

	<!--CONTENT CONTAINER-->
	<!--===================================================-->


	<!--Page Title-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<div id="page-title">
		<h1 class="page-header text-overflow">Search</h1>
		
		<form action="/search/" method="post" id="searchform" class="form-horizontal ajax">
			{% csrf_token %}
			
			<div class="input-group mar-top mar-btm">
				<input type="text" class="form-control input-lg" id="searchword" name="searchword" placeholder="Search..">
				<span class="input-group-btn">
				<button class="btn btn-primary" id="ssearch" data-loading-text="Loading..." type="submit">Search</button>
				</span>
			</div>
		</form>

	</div>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<!--End page title-->

	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">

		<div class="row">
			<div class="col-md-4">

				<div class="row">
					<div class="col-md-12">
						<div class="panel media pad-all">
							<div class="media-left">
								<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
									<i class="fa fa-user fa-2x"></i>
								</span>
							</div>
							<div class="media-body">
								<p class="mar-no text-thin" id="result0">Result 1</p>
								<a id="result0url" href="#" target="new" class="text-muted mar-no">view</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel media pad-all">
							<div class="media-left">
								<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
									<i class="fa fa-user fa-2x"></i>
								</span>
							</div>
							<div class="media-body">
								<p class="mar-no text-thin" id="result1">Result 2</p>
								<a id="result1url" href="#" target="new" class="text-muted mar-no">view</a>
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel media pad-all">
							<div class="media-left">
								<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
									<i class="fa fa-user fa-2x"></i>
								</span>
							</div>
							<div class="media-body">
								<p class="mar-no text-thin" id="result2">Result 3</p>
								<a id="result2url" href="#" target="new" class="text-muted mar-no">view</a>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel widget">
					<div class="widget-header bg-purple">
						<!--<img class="widget-bg img-responsive" src="img/thumbs/img3.jpg" alt="Image">-->
					</div>
					<div class="widget-body text-center">
						<img alt="Profile Picture" class="widget-img img-border-light" id="mimage" src="img/av4.png">
						<h4 class="mar-no" id="mname">Barak Obama</h4>
						<p class="text-muted mar-btm" id="profession"></p>
						<a href="#" class="text-center btn btn-primary">View</a>		

					</div>
				</div>
			</div>

			<div class="col-md-4">

				<div class="row">
					<div class="col-md-12">
						<div class="panel media pad-all">
							<div class="media-left">
								<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
									<i class="fa fa-user fa-2x"></i>
								</span>
							</div>
							<div class="media-body">
								<p class="mar-no text-thin" id="result3">Result 3</p>
								<a id="result3url" href="#" target="new" class="text-muted mar-no">view</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel media pad-all">
							<div class="media-left">
								<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
									<i class="fa fa-user fa-2x"></i>
								</span>
							</div>
							<div class="media-body">
								<p class="mar-no text-thin" id="result4">Result 3</p>
								<a id="result4url" href="#" target="new" class="text-muted mar-no">view</a>
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel media pad-all">
							<div class="media-left">
								<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
									<i class="fa fa-user fa-2x"></i>
								</span>
							</div>
							<div class="media-body">
								<p class="mar-no text-thin" id="result5">Result 3</p>
								<a id="result5url" href="#" target="new" class="text-muted mar-no">view</a>
							</div>
						</div>

					</div>
				</div>
			</div>



		</div>




	</div>
	<!--===================================================-->
	<!--End page content-->


</div>


{% endblock %}


{% block scripts %}
<script>

	var mobj = {{main|safe}};
	var sobj = {{similar|safe}};

	function getSearch(mobj, sobj){


		if(mobj.hasOwnProperty('entities') && mobj.entities[0]){
			$("#mname").html(mobj.entities[0].normalized_text);
			$("#mimage").attr('src', mobj.entities[0].additional_information.image);
		}

		if(sobj.hasOwnProperty('documents')){
			$("#result0").html(sobj.documents[0].title)
			$("#result0url").attr('href',sobj.documents[0].reference)

			$("#result1").html(sobj.documents[1].title)
			$("#result1url").attr('href',sobj.documents[1].reference)

			$("#result2").html(sobj.documents[2].title)
			$("#result2url").attr('href',sobj.documents[2].reference)


			$("#result3").html(sobj.documents[3].title)
			$("#result3url").attr('href',sobj.documents[3].reference)

			$("#result4").html(sobj.documents[4].title)
			$("#result4url").attr('href',sobj.documents[4].reference)

			$("#result5").html(sobj.documents[5].title)
			$("#result5url").attr('href',sobj.documents[5].reference)
		}
	}

	getSearch(mobj, sobj)

	$(document).on("eldarion-ajax:begin", function(evt, $el) {
		console.log("search sent")
		 $("#ssearch").button('loading');
	});


	$(document).on("eldarion-ajax:success", function(evt, $el, data) {
		console.log(jQuery.parseJSON(data.main))
		getSearch(jQuery.parseJSON(data.main), jQuery.parseJSON(data.similar))
		 $("#ssearch").button('reset');

	});




</script>
{% endblock %}
