{% extends "site_base.html" %}
{% load i18n static %}

{% block head_title %}{% trans "Quiz" %}{% endblock %}
{% block extra_head %}

{% endblock %}
{% block body %}	
<div class="well">	
	<section id="wizard">
		<div class="page-header">
			<h4>{{object.course.title}}</h4>
			<h4>{% trans "Unit" %} {{object.unit_number}}: {{object.title}}</h4>	
		</div>	
		<div id="rootwizard">
			
			<div class="progress">
				<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" >
					<span class="sr-only"></span>
				</div>
			</div>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul>
							
							<li><a href="#tab1" data-toggle="tab">1</a></li>
								<li><a href="#tab2" data-toggle="tab">2</a></li>
									<li><a href="#tab3" data-toggle="tab">3</a></li>
						
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content"><!--Content-->

			
				<div class="tab-pane" id="tab1">

				<iframe src="https://h5p.org/h5p/embed/16261" width="1090" height="719" frameborder="0" allowfullscreen="allowfullscreen"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
				
				</div>

					<div class="tab-pane" id="tab2">
					<iframe src="https://h5p.org/h5p/embed/16258" width="1090" height="765" frameborder="0" allowfullscreen="allowfullscreen"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
					
				</div>

					<div class="tab-pane" id="tab3">
					<iframe src="https://h5p.org/h5p/embed/16257" width="1090" height="225" frameborder="0" allowfullscreen="allowfullscreen"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
					
				</div>
			

			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="pager wizard">
						<li class="previous first" style="display:none;"><a href="#">First</a></li>
						<li class="previous"><a href="#">Previous</a></li>
						<li class="next last" style="display:none;"><a href="#">Last</a></li>
						<li class="next"><a href="#">Next</a></li>
					</ul>
				</div>
			</div>

		</div><!--/div id="rootwizard">-->
	</section><!--/section id="rootwizard">-->
</div>
{%endblock%}

{% block extra_body_base %}

{% block javascript %}		
<script type="text/javascript" src='http://cdn.jsdelivr.net/bootstrap.wizard/1.2.0/jquery.bootstrap.wizard.min.js'></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
			var $total = navigation.find('li').length;
			var $current = index+1;
			var $percent = ($current/$total) * 100;
			$('#rootwizard').find('.progress-bar').css({width:$percent+'%'});
			   window.dispatchEvent(new Event('resize'));


		}});
	});	
</script>
{%endblock%}

 


{%endblock%}